### use # to comment out the configure item
## using all 5 types of tags

### I/O ###
# train
train_dir=data_seq_tag_pairs/train_full
dev_dir=data_seq_tag_pairs/dev_full
test_dir=data_seq_tag_pairs/test
model_dir=model_save/multi_bert
word_emb_dir=utils/glove.6B.100d.txt

# decode
decode_dir=model_out/multi_bert.out
dset_dir=model_save/multi_bert.dset
load_model_dir=model_save/multi_bert.best.model

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=100
#char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=False
word_seq_feature=LSTM
#nbest=1
use_bert=True

###TrainingSetting###
status=train
optimizer=SGD
iteration=15
batch_size=5
ave_batch_loss=False

###Hyperparameters###
hidden_dim=200
dropout=0.4
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
MAX_SENTENCE_LENGTH=200
#gpu
#clip=
